html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family:'Trebuchet MS';
    background-color: #fefae0;
}

.pImg{
    width: 300px; 
    border-radius: 50%; 
    border: 3px dotted green;
}

a{
    text-decoration: none;
}

hr{
    border: 1px dashed #d4a373;
}

.li{
    width: 1.3rem;
    display: inline;
}

table{
    border-collapse: collapse; 
    width:75%;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

th{
    border: 2px solid #fefae0; 
    border-radius: 10px; 
}

.thRow{
    height: 4.8rem; 
    background-color: #ccd5ae;
}

tr{
    text-align: center; 
    height: 4rem;
    /* background-color: #C6FCE5; */
}

td{
    border: 2px solid #fefae0;
    border-radius: 10px;
    background-color: #e9edc9;
}

form{
    width: 50%; 
    border: 1px hidden; 
    border-radius: 9px;
    background-color: #faedcd;
    padding: 8px;
    margin-bottom: 16px;
}

label{
    /* display: block; */
    width: 50%; 
    float: left
}

.inputField{
    width: 50%; 
    padding: 7px 20px; 
    margin: 8px;
    border: 1px solid;
    border-radius: 3px;
}

.inputButton{
    padding: 8px 20px;
    margin: 8px;
    border: 1px hidden;
    border-radius: 5px;
    background-color: #d4a373;
}

h4{
    font-size: 1.5rem;
}

.contactImg{
    width: 2.5rem;
}
