<div class="constrains container flex">
  <div class="img-box flex">
    <img src="../../assets/images/programmer.png" alt="" />
  </div>
  <div class="about">
    <h2>Get To Know Me</h2>
    <div class="para">
      A twenty-something developer who is passionate about programming and
      problem solving. I am a first year student at University Of The People and
      have been learning programming since late 2022. I'm good at logical
      thinking and problem solving. I'm a fast learner and have a great amount
      of curiosity. If you are interested in working together with me or just
      want to say Hi, feel free to drop a message on any of these platforms!
    </div>
    <div class="contacts">
      <!-- <a *ngFor="let social of socials" href="{{ social.link }}" target="_blank"
        ><i class="{{ social.icon_class }}" aria-hidden="true"></i
      ></a> -->
      <a href="https://linkedin.com/in/eizarphyo" target="_blank"
        ><i class="fa fa-linkedin-square" aria-hidden="true"></i
      ></a>
      <a href="https://github.com/eizarphyo" target="_blank"
        ><i class="fa fa-github" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>
